body, h1, h2, h3, p, img {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  background-color: #C9A581;
}

.flexbox-container {
  display: flex;
}

.flexbox-item1 {
  max-width: 1920px;
  height: 923px;
  border: 0px solid #000000;
  box-sizing: border-box;
  flex: 1;
}

.flexbox-item2 {
  max-width: 1920px;
  height: 923px;
  border: 0px solid #000000;
  box-sizing: border-box;
  flex: 2; 
}

.JavaLogo {
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-top: 30px;
}

h1 {
  font-family: "cooper-black-std", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 35px;
  text-align: center;
  margin: 0;
  margin-top: 30px;
}

h2 {
  font-family: "cooper-black-std", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 35px;
  text-align: center;
  margin: 0;
  margin-top: 70px;
}

.InstaLogo {
  width: 100px;
  height: auto;
}

.TikTokLogo {
  width: 160px;
  height: auto;
}

.TwitterLogo {
  width: 100px;
  height: auto;
}

.Social-Icons-Container {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding-top: 30px; 
}

.flexbox-item2 {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.flexbox-item2 nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.flexbox-item2 nav li {
  margin-right: 20px; 
}

.flexbox-item2 nav a {
  position: relative; 
  display: block;
  padding: 10px; 
  color: white;
  text-decoration: none;
}

.flexbox-item2 .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px; 
}

.flexbox-item2 .grid-item {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.flexbox-item2 nav .nav-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.flexbox-item2 nav a:hover .nav-image {
  opacity: 0.4; 
}

.flexbox-item2 nav .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.flexbox-item2 nav .text {
  color: black; 
  font-size: 16px;
}

.flexbox-item2 nav a:hover .middle {
  opacity: 1; 
}

.flexbox-item2 nav a .nav-image-text {
  font-family: "cooper-black-std", serif;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

/* Add the media query to hide the second flexbox */
@media (max-width: 768px) {
  .flexbox-item2 {
    display: none;
  }

  /* Show the hamburger icon */
  .hamburger-icon {
    display: block;
  }
}

/* Hamburger Icon Styles */
.hamburger-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  display: none;
  cursor: pointer;
  padding: 10px;
  z-index: 10000; /* Higher value than the overlay menu */
}

.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

@media (max-width: 768px) {
  .hamburger-icon {
    display: block; /* Show the hamburger icon */
  }

  .flexbox-item2 {
    display: none; /* Hide the second flexbox when hamburger icon appears */
  }
}


/* Show the overlay menu when the hamburger icon is clicked */
.overlay-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Black with transparency */
  z-index: 9999; /* Ensure the overlay appears on top of other content */
  color: white;
}

/* Center the menu items vertically and horizontally */
.menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 24px;
}

/* Add some spacing between the menu items */
.menu-items a {
  margin-bottom: 20px;
  color: white;
  text-decoration: none;
  font-family: "cooper-black-std", serif;
  font-size: 40px;
}
.menu-items a:hover {
  color:wheat ; /* Set the desired hover color, in this example, it's a gold color (#FFD700) */
}


/* Add this CSS to your existing styles */
.hamburger-icon.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger-icon.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
